body {
  font-size: large;
  background-color: DarkSeaGreen;
  color: Indigo;
  margin-left: 2vw;
  width: 96vw;
}
input {
  font-size: large;
}
input[type=text] {
  background-color: Khaki;
  color: MidnightBlue;
  width: 8em;
}
#game {
  width: 2em;
  text-transform: uppercase;
}
input[type=text]:disabled {
  background-color: DarkKhaki;
}
input[type=button] {
  background-color: DarkOliveGreen;
  color: Lavender;
}
#log {
  height: 20vh;
  resize: both;
  overflow-y: scroll;
  list-style-type: none;
  padding-left: 0;
  background-color: SeaGreen;
  color: Plum;
}
.disconnected {
  color: Thistle;
}
.empty {
  color: Thistle;
}
#spectators {
  color: SlateGray
}
ul.inline {
  list-style-type: none;
  padding: 0;
}
ul.inline > li {
  display: inline;
  padding-left: 1em;
}
.current {
  background-color: MediumSeaGreen;
}
.cards {
  letter-spacing: 0.25em;
  font-size: xx-large;
}
.bids {
  font-size: larger;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.bids a {
  padding-left: 0.25em;
  padding-right: 0.25em;
}
.bids a:hover {
  cursor: pointer;
  background-color: MediumSeaGreen;
}
#playArea {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
#partnership {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
div.player {
  display: flex;
  flex-direction: column;
  width: 28vw;
  height: 20vh;
  justify-content: space-around;
  align-items: center;
}
#board {
  display: flex;
  width: 15vw;
  height: 15vh;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  font-size: larger;
}
#playedCenter {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}
#rotate[hidden] {
  display: none;
}
#rotate {
  display: flex;
  width: 84vw;
  justify-content: space-around;
  align-items: center;
  font-size: x-large;
}
#rotate a:hover {
  cursor: pointer;
}
.hearts {
  color: red
}
.diamonds {
  color: blue
}
.clubs {
  color: green
}
.spades {
  color: black
}
