@font-face {
  font-family: 'DejaVu Sans';
  src: url('DejaVuSans.ttf') format('truetype');
}
body {
  font-family: 'DejaVu Sans', sans-serif;
  font-size: large;
  background-color: #004;
  color: Lavender;
  margin-left: 2vw;
  width: 96vw;
}
input {
  font-size: large;
}
input[type=text] {
  background-color: DarkSlateBlue;
  color: PapayaWhip;
  width: 8em;
}
input[type=text]:disabled {
  background-color: #382d7b;
}
input[type=button] {
  background-color: RoyalBlue;
  color: LightYellow;
}
#game {
  width: 2em;
  text-transform: uppercase;
}
#log {
  height: 13ex;
  resize: both;
  overflow-y: scroll;
  list-style-type: none;
  padding-left: 0;
}
#log, #score {
  background-color: Black;
  color: White;
  border-style: solid;
  border-color: OldLace;
  margin: auto;
}
#score {
  margin-top: 1ex;
  border-collapse: collapse;
}
th {
  color: Cornsilk;
  vertical-align: top;
}
th, td {
  border-left: 1px solid;
  padding: 0.5em;
  text-align: center;
}
th {
  border-bottom: 1px solid;
}
th.round {
  border-bottom: none;
}
tr:nth-child(even) {
  background-color: #222;
}
td.contractor {
  text-align: left;
}
.name {
  color: #b7abfe;
}
#spectators, .empty {
  color: SlateGray
}
.disconnected {
  color: Pink;
}
ul.inline {
  list-style-type: none;
  padding: 0;
}
ul.inline > li {
  display: inline;
  padding-left: 1em;
}
.current {
  background-color: NavajoWhite;
  color: #004;
}
.current.disconnected {
  background-color: NavajoWhite;
  color: DarkRed;
}
.cards {
  font-size: xx-large;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.cards > span, .cards > a, .bids > a {
  padding: 0.2em;
}
.bids {
  font-size: larger;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.bids > a:hover, .cards > a:hover, a.joker:hover {
  cursor: pointer;
  background-color: LightBlue;
  color: Black;
}
.tricks > .cards > a:hover {
  background-color: transparent;
  color: inherit;
}
.joker {
  position: relative;
}
.joker > span {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0)
}
#playArea {
  margin: auto;
  width: 96vw;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
#partnership {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
div.player {
  display: flex;
  flex-direction: column;
  width: 32vw;
  height: 19ex;
  justify-content: space-around;
  align-items: center;
}
#kitty {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
#kitty > input {
  margin-top: 0.5em;
}
#board {
  display: flex;
  width: 20vw;
  height: 13ex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  font-size: larger;
}
div.tricks {
  display: flex;
  flex-flow: row wrap;
  color: MediumPurple;
}
#playedCenter {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}
#joker[hidden] {
  display: none;
}
#rotate[hidden] {
  display: none;
}
#rotate {
  margin: auto;
  width: 96vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: x-large;
}
#rotate a:hover {
  cursor: pointer;
}
.hearts {
  color: LightPink;
}
.diamonds {
  color: Moccasin;
}
.clubs {
  color: PaleGreen;
}
.spades {
  color: PowderBlue;
}
a.hearts:hover {
  color: #800;
}
a.diamonds:hover {
  color: #430;
}
a.clubs:hover {
  color: #050;
}
a.spades:hover {
  color: #005;
}
