body {
  font-size: large;
  background-color: DarkSeaGreen;
  color: Indigo;
  margin-left: 2vw;
  width: 96vw;
}
input {
  font-size: large;
}
input[type=text] {
  background-color: Khaki;
  color: MidnightBlue;
  width: 8em;
}
#game {
  width: 2em;
  text-transform: uppercase;
}
input[type=text]:disabled {
  background-color: DarkKhaki;
}
input[type=button] {
  background-color: DarkOliveGreen;
  color: Lavender;
}
#log {
  height: 15vh;
  resize: both;
  overflow-y: scroll;
  list-style-type: none;
  padding-left: 0;
  background-color: SeaGreen;
  color: Plum;
}
.disconnected, .empty {
  color: Thistle;
}
#spectators {
  color: SlateGray
}
ul.inline {
  list-style-type: none;
  padding: 0;
}
ul.inline > li {
  display: inline;
  padding-left: 1em;
}
.current {
  background-color: MediumSeaGreen;
}
.cards {
  font-size: xx-large;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.cards > span, .cards > a, .bids > a {
  padding: 0.25em;
}
.bids {
  font-size: larger;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.bids > a:hover, .cards > a:hover, a.joker:hover {
  cursor: pointer;
  background-color: MediumSeaGreen;
}
.tricks > .cards > a:hover {
  background-color: transparent;
}
.joker {
  position: relative;
}
.joker > span {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0)
}
#playArea {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
#partnership {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
div.player {
  display: flex;
  flex-direction: column;
  width: 30vw;
  height: 30vh;
  justify-content: space-around;
  align-items: center;
}
#kitty {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
#kitty > input {
  margin-top: 0.5em;
}
#board {
  display: flex;
  width: 20vw;
  height: 20vh;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  font-size: larger;
}
div.tricks {
  display: flex;
  flex-flow: row wrap;
  color: DarkBlue;
}
#playedCenter {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}
#joker[hidden] {
  display: none;
}
#rotate[hidden] {
  display: none;
}
#rotate {
  display: flex;
  width: 84vw;
  justify-content: space-around;
  align-items: center;
  font-size: x-large;
}
#rotate a:hover {
  cursor: pointer;
}
.hearts {
  color: red
}
.diamonds {
  color: blue
}
.clubs {
  color: green
}
.spades {
  color: black
}
