@font-face {
  font-family: 'DejaVu Sans';
  src: url('DejaVuSans.ttf') format('truetype');
}

body {
  font-family: 'DejaVu Sans', sans-serif;
  font-size: large;
  background-color: #200;
  color: Thistle;
  margin-left: 2vw;
  width: 96vw;
}

ul.inline {
  list-style-type: none;
  padding: 0;
}
ul.inline > li {
  display: inline;
  padding: 0.5em;
}

a:hover, .clickable:hover {
  cursor: pointer;
}

#games {
  list-style-type: none;
  display: flex;
  flex-direction: column-reverse;
}
#games[hidden] {
  display: none;
}
#games > li > ul {
  display: inline;
}
.current {
  background-color: NavajoWhite;
  color: #004;
}
.disconnected {
  color: Pink;
}
.current.disconnected {
  background-color: NavajoWhite;
  color: DarkRed;
}

#game {
  width: 2em;
  text-transform: uppercase;
}

#log {
  height: 13ex;
  resize: both;
  overflow-y: scroll;
  list-style-type: none;
  padding-left: 0;
  background-color: Black;
  color: White;
  border-style: solid;
  border-color: OldLace;
  max-width: 40em;
  margin: auto;
}

#playArea {
  display: flex;
  width: 80%;
  margin: auto;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
#playArea[hidden] {
  display: none;
}

#playArea > div, #table > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

#playArea > div > div#table {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

#playArea > div > div#table > div > div {
  width: 2em;
  height: 4ex;
  text-align: center;
  line-height: 4ex;
  font-size: xx-large;
}

#playArea > div > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
h3 {
  font-size: large;
  font-weight: normal;
}
h3.disconnected::after {
  content: ' (d/c)';
}
input[type=button].bid {
  width: 4em;
  font-size: large;
  color: Thistle;
  background-color: #300;
}

#rotateButtons {
  display: flex;
  width: 50%;
  margin: auto;
  justify-content: space-around;
}
#rotateButtons[hidden] {
  display: none;
}

#next {
  margin: auto;
  width: 4em;
}

#round {
  margin: auto;
  margin-top: 2em;
  border-style: solid;
  border-color: OldLace;
  border-collapse: collapse;
}
th, td {
  text-align: center;
  padding: 0.5em;
}
th {
  border-bottom: solid;
}
tr:nth-child(odd) {
  background-color: #300;
}
tr:nth-child(even) {
  background-color: #400;
}

.cards {
  font-size: xx-large;
}
ul.cards.inline {
  margin: 0.2em;
}
.cards.inline > li {
  padding: 0.1em;
}

.hearts {
  color: LightPink;
}
.diamonds {
  color: Moccasin;
}
.clubs {
  color: PaleGreen;
}
.spades {
  color: PowderBlue;
}
.hearts.clickable:hover {
  color: #800;
  background-color: Pink;
}
.diamonds.clickable:hover {
  color: #430;
  background-color: Pink;
}
.clubs.clickable:hover {
  color: #050;
  background-color: Pink;
}
.spades.clickable:hover {
  color: #005;
  background-color: Pink;
}
