body {
  font-family: sans-serif;
  font-size: large;
  background-color: #300;
  color: RosyBrown;
  margin-left: 2vw;
  width: 96vw;
}
input {
  font-size: large;
}
input[type=text] {
  background-color: DarkSlateBlue;
  color: PapayaWhip;
  width: 8em;
}
input[type=text]:disabled {
  background-color: #382d7b;
}
input[type=button], input[type=submit] {
  background-color: Indigo;
  color: Moccasin;
}
#game {
  width: 2em;
  text-transform: uppercase;
}
.name {
  color: #b7abfe;
}
#spectators {
  color: SlateGray
}
.disconnected {
  color: Violet;
}
#players li.disconnected::after {
  content: ' (d/c)';
}
#players li.current {
  background-color: NavajoWhite;
  color: MidnightBlue;
}
#players li.current::after {
  content: ' (*)';
}
#players li.current.disconnected::after {
  content: ' (d/c) (*)';
}
#players li.winner::after {
  content: ' victorious!'
}
#players li.winner.disconnected::after {
  content: ' (d/c) victorious!'
}
#games {
  list-style-type: none;
  display: flex;
  flex-direction: column-reverse;
}
#games[hidden] {
  display: none;
}
#games > li > ul {
  display: inline;
}
a:hover {
  cursor: pointer;
}
form.inline {
  display:inline;
}
ul.inline {
  list-style-type: none;
  padding: 0;
}
ul.inline > li {
  display: inline;
  padding-left: 0.5em;
  padding-right: 0.5em;
}
#board {
  display: grid;
  margin: auto;
  width: min-content;
  grid-template-columns: repeat(4, 1fr);
  border: solid DarkOrange 4px;
}
#board div.piece {
  border: solid DarkOrange 4px;
}
#pieces {
  display: grid;
  margin: auto;
  margin-top: 2em;
  width: min-content;
  grid-template-columns: repeat(8, 1fr);
  border: solid DarkSalmon 2px;
}
#pieces div.piece {
  border: solid DarkSalmon 2px;
}
div.piece {
  height: 80px;
  width: 80px;
  text-align: center;
  line-height: 80px;
  font-size: 32pt;
}
#pieces div.selected {
  border-style: dashed;
  border-color: Orange;
  border-width: 4px;
  height: 76px;
  width: 76px;
}
#pieces div.selectable:hover {
  cursor: pointer;
}
#board div.playable:hover {
  cursor: pointer;
  border-color: Orange;
}
#board div.arrow {
  border-color: DeepSkyBlue;
}
div.d00 {
  background-color: MintCream;
}
div.d01 {
  background-color: Bisque;
}
div.d10 {
  color: MidnightBlue;
}
div.d11 {
  color: FireBrick;
}
div.d20.d30::after {
  content: '■';
}
div.d20.d31::after {
  content: '□';
}
div.d21.d30::after {
  content: '●';
}
div.d21.d31::after {
  content: '○';
}
