body {
  --background-color:                   #fdf1ff;
  --text-color:                         DarkRed;
  --ended-color:                        IndianRed;
  --prestart-background-color:          #fdf1ff;
  --blank-color:                        Crimson;
  --last-played-color:                  DarkBlue;
  --input-background-color:             #093a0d;
  --input-text-color:                   #e2ddd7;
  --disabled-text-color:                #8f3200;
  --disabled-text-background-color:     PapayaWhip;
  --disabled-button-background-color:   SlateGray;
  --disabled-button-text-color:         DarkGray;
  --input-button-background-color:      #4b0081;
  --input-button-text-color:            #ffe4b5;
  --name-color:                         #000146;
  --spectators-color:                   DarkSlateGray;
  --disconnected-color:                 #6E3E17;
  --score-border-color:                 DarkRed;
  --score-color:                        DarkRed;
  --current-dc-background-color:        NavajoWhite;
  --current-dc-color:                   DarkViolet;
  --tile-background-color:              NavajoWhite;
  --tile-border-color:                  WhiteSmoke;
  --cell-dl-color:                      #b7db6f;
  --cell-tl-color:                      #326500;
  --cell-dw-color:                      #9e78ff;
  --cell-tw-color:                      #4200e6;
  --cell-placed-color:                  #01008c;
  --selected-outline:                   DarkGreen;
  --checked-valid-color:                Green;
  --checked-invalid-color:              Red;

  font-family: sans-serif;
  font-size: large;
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: var(--background-color);
  color: var(--text-color);

}
input, label {
  font-size: xx-large;
}
label {
  font-weight: bold;
}
label:has(#swap) {
  font-weight: bold;
  display: flex;
  flex-direction: column;
}
input[type=text] {
  background-color: var(--input-background-color);
  color: var(--input-text-color);
  width: 8em;
  padding: 0.5em;
}
input[type=text]:disabled {
  color: var(--disabled-text-color);
  background-color: var(--disabled-text-background-color);
}
input[type=button]:disabled {
  background-color: var(--disabled-button-background-color);
  color: var(--disabled-button-text-color);
}
input[type=button], input[type=submit] {
  background-color: var(--input-button-background-color);
  color: var(--input-button-text-color);
  padding: 0.5em;
  font-weight: bold;
}
#game {
  width: 2em;
  text-transform: uppercase;
}
.name {
  color: var(--name-color);
  font-weight: bold;
  font-size: large;
}
#spectators {
  color: var(--spectators-color);
}
.disconnected {
  color: var(--disconnected-color);
  text-decoration: underline wavy;
}
.disconnected.joining {
  text-decoration: none;
}
span.score {
  margin-left: 0.5em;
  border: solid var(--score-border-color);
  font-weight: bold;
  padding: 0.2em;
  color: var(--score-color);
}
.current::after {
  content: "*"
}
.current {
  background-color: NavajoWhite;
  color: #004;
}
.current.disconnected {
  background-color: var(--current-dc-background-color);
  color: var(--current-dc-color);
}
#games {
  list-style-type: none;
  display: flex;
  flex-direction: column-reverse;
  zoom: 1.5;
}

#log {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 0;
  margin: 0;
  overflow-y: scroll;
  height: 20ex;
}

#games[hidden] { display: none; }
#playArea[hidden] { display: none; }
#bag[hidden] { display: none; }
[hidden] { display: none; }

#games > li.ended {
  color: var(--ended-color);
}

#games > li.prestart {
  background-color: var(--prestart-background-color);
}

#games > li > ul {
  display: inline;
}
#games > li > a {
  font-weight: bold;
}
a:hover {
  cursor: pointer;
}
#players {
  font-size: xx-large;
  margin: 0;
}
#games, form {
  margin-top: 1em;
  font-size: xx-large;
  margin-bottom: 0;
}
form {
  display: flex;
  align-items: center;
  column-gap: 0.2em;
}
#options {
  display: flex;
  flex-direction: column;
}
#turntime input[type=number] {
  width: 3em;
}

ul.inline {
  list-style-type: none;
  padding: 0;
}
ul.inline > li {
  display: inline;
  padding-left: 1em;
}

.selected {
  outline: thick solid var(--selected-outline);
  z-index: 3;
}

#info {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  column-gap: 3em;
  font-size: x-large;
}

#playArea {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 2em;
}

#board {
  display: grid;
  grid-template-columns: repeat(15, 1fr);
  border: solid;
}

#board div.cell {
  width: 3em;
  height: 3em;
  line-height: 3em;
  display: flex;
  justify-content: center;
  border: thin solid black;
}

#board div.cell, #rack > li {
  position: relative;
}

.blank, .last.blank {
  color: var(--blank-color);
}

.last {
  color: var(--last-played-color);
  animation: 1s pulse 5;
}

@keyframes pulse {
  50% {
    color: var(--tile-background-color);
  }
}

#board div.cell.cursor-right::before {
  content: '➡';
  font-size: 3em;
}

#board div.cell.cursor-down::before {
  content: '⬇';
  font-size: 3em;
}

span.letter, span.points {
  position: relative;
  z-index: 2;
}

#board div.cell:has(span):before,
#rack > li:has(span):before {
  content: '';
  display: block;
  position: absolute;
  height: 86%;
  width: 86%;
  margin: 2% 5% 8%;
  background-color: var(--tile-background-color);
  border: outset 0.2em;
  border-color: var(--tile-border-color);
  z-index: 1;
}

#board div.cell.dl {
  background-color: var(--cell-dl-color);
}
#board div.cell.tl {
  background-color: var(--cell-tl-color);
}
#board div.cell.dw {
  background-color: var(--cell-dw-color);
}
#board div.cell.tw {
  background-color: var(--cell-tw-color);
}

#board div.cell.placed, #rack > li {
  color: var(--cell-placed-color);
}
#board div.cell.placed:hover, #rack > li:hover {
  cursor: pointer;
}

#player {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 2em;
}
#control > div {
  display: flex;
  flex-direction: column;
  row-gap: 2em;
}

#control {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  column-gap: 6em;
  align-items: center;
}

#blank[hidden] {
  display: none;
}
#blank > input {
  width: 3em;
  height: 3em;
  text-transform: uppercase;
}
#blank {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  width: 19em;
  grid-row-gap: 1em;
}

#rack {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 1em;
  column-gap: 0.2em;
}
#rack > li {
  width: 6em;
  height: 6em;
  line-height: 6em;
  border: solid;
  display: flex;
  justify-content: center;
}

#rack span.letter {
  font-size: 5em;
}

#rack span.points {
  font-size: large;
  margin-top: 2em;
  margin-left: -0.2em;
  letter-spacing: -0.2em;
  font-weight: bold;
}

span.letter {
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  font-size: 2.5em;
}
span.points {
  font-size: x-small;
  position: absolute;
  margin-top: 1.5em;
  margin-left: -0.35em;
  letter-spacing: -0.3em;
}

#checker {
  display: flex;
  flex-direction: column;
}

#checker > div {
  display: flex;
  column-gap: 1em;
  align-items: center;
}
#checker input[type=text] {
  text-transform: uppercase;
  min-width: 8em;
}
#checker .valid {
  color: var(--checked-valid-color);
}
#checker .invalid {
  color: var(--checked-invalid-color);
}
#bag {
  overflow-y: scroll;
  max-height: 20ex;
}
#bag > span {
  display: flex;
  flex-direction: column;
}
#bag ul {
  display: grid;
  width: 5em;
  grid-template-columns: repeat(7, 1fr);
  margin: 0;
}
#bag li {
  font-family: monospace;
}
