body {
  --background-color:                   Ivory;
  --text-color:                         DarkRed;
  --input-background-color:             #3A2009;
  --input-text-color:                   PapayaWhip;
  --disabled-text-background-color:     #382d7b;
  --disabled-button-background-color:   SlateGray;
  --disabled-button-text-color:         DarkGray;
  --input-button-background-color:      Indigo;
  --input-button-text-color:            Moccasin;
  --name-color:                         DarkSlateBlue;
  --spectators-color:                   DarkSlateGray;
  --disconnected-color:                 #6E3E17;
  --score-border-color:                 DarkRed;
  --score-color:                        DarkRed;
  --current-dc-background-color:        NavajoWhite;
  --current-dc-color:                   DarkViolet;
  --rack-background-color:              NavajoWhite;
  --cell-dl-color:                      MediumPurple;
  --cell-tl-color:                      RebeccaPurple;
  --cell-dw-color:                      Coral;
  --cell-tw-color:                      SaddleBrown;
  --cell-placed-color:                  Purple;
  --selected-outline:                   DarkGreen;

  font-family: sans-serif;
  font-size: large;
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: var(--background-color);
  color: var(--text-color);

}
input, label {
  font-size: x-large;
}
input[type=text] {
  background-color: var(--input-background-color);
  color: var(--input-text-color);
  width: 8em;
  padding: 1em;
}
input[type=text]:disabled {
  background-color: var(--disabled-text-background-color);
}
input[type=button]:disabled {
  background-color: var(--disabled-button-background-color);
  color: var(--disabled-button-text-color);
}
input[type=button], input[type=submit] {
  background-color: var(--input-button-background-color);
  color: var(--input-button-text-color);
  padding: 2em;
}
#game {
  width: 2em;
  text-transform: uppercase;
}
.name {
  color: var(--name-color);
  font-weight: bold;
  font-size: large;
}
#spectators {
  color: var(--spectators-color);
}
.disconnected {
  color: var(--disconnected-color);
  text-decoration: underline wavy;
}
.disconnected.joining {
  text-decoration: none;
}
span.score {
  margin-left: 0.5em;
  border: solid var(--score-border-color);
  font-weight: bold;
  padding: 0.2em;
  color: var(--score-color);
}
.current::after {
  content: "*"
}
.current {
  background-color: NavajoWhite;
  color: #004;
}
.current.disconnected {
  background-color: var(--current-dc-background-color);
  color: var(--current-dc-color);
}
#games {
  list-style-type: none;
  display: flex;
  flex-direction: column-reverse;
  zoom: 1.5;
}

#games[hidden] { display: none; }
#playArea[hidden] { display: none; }
#bag[hidden] { display: none; }
[hidden] { display: none; }

#games > li > ul {
  display: inline;
}
#games > li > a {
  font-weight: bold;
}
a:hover {
  cursor: pointer;
}
#spectators, #players, #games, form {
  margin-top: 2em;
  font-size: xx-large;
}
ul.inline {
  list-style-type: none;
  padding: 0;
}
ul.inline > li {
  display: inline;
  padding-left: 1em;
}

.selected {
  outline: thick solid var(--selected-outline);
  z-index: 3;
}

#info {
  display: flex;
  flex-direction: row;
  margin-top: 2em;
  justify-content: space-evenly;
  column-gap: 3em;
  font-size: x-large;
}

#playArea {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 2em;
}

#board {
  display: grid;
  grid-template-columns: repeat(15, 1fr);
  border: solid;
}

#board div.cell {
  width: 3em;
  height: 3em;
  line-height: 3em;
  display: flex;
  justify-content: center;
  border: thin solid black;
}

#board div.cell, #rack > li {
  position: relative;
}

#board div.cell.cursor-right::before {
  content: '➡';
  font-size: 3em;
}

#board div.cell.cursor-down::before {
  content: '⬇';
  font-size: 3em;
}

span.letter, span.points {
  position: relative;
  z-index: 2;
}

#board div.cell:has(span):before,
#rack > li:has(span):before {
  content: '';
  display: block;
  position: absolute;
  height: 90%;
  width: 90%;
  margin: 5%;
  background-color: var(--rack-background-color);
  z-index: 1;
}

#board div.cell.dl {
  background-color: var(--cell-dl-color);
}
#board div.cell.tl {
  background-color: var(--cell-tl-color);
}
#board div.cell.dw {
  background-color: var(--cell-dw-color);
}
#board div.cell.tw {
  background-color: var(--cell-tw-color);
}

#board div.cell.placed, #rack > li {
  color: var(--cell-placed-color);
}
#board div.cell.placed:hover, #rack > li:hover {
  cursor: pointer;
}

#player {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 2em;
}
#player input[type=button] {
  padding: 1em 2em;
}
#control > div {
  display: flex;
  flex-direction: column;
  row-gap: 2em;
}

#control {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  column-gap: 24em;
}

#blank[hidden] {
  display: none;
}
#blank > input {
  width: 3em;
  height: 3em;
  text-transform: uppercase;
}
#blank {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  width: 19em;
  grid-row-gap: 1em;
}

#rack {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 1em;
  column-gap: 1em;
}
#rack > li {
  width: 6em;
  height: 6em;
  line-height: 6em;
  border: solid;
  display: flex;
  justify-content: center;
}

#rack span.letter {
  font-size: 5em;
}

#rack span.points {
  font-size: large;
  margin-top: 2em;
  letter-spacing: -0.2em;
  font-weight: bold;
}

span.letter {
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  font-size: 2.8em;
}
span.points {
  font-size: x-small;
  position: absolute;
  margin-top: 1.8em;
  letter-spacing: -0.3em;
}
