body {
  font-family: sans-serif;
  font-size: large;
  background-color: aliceblue;
  color: firebrick;
  margin-left: 2vw;
  width: 96vw;
}
input {
  font-size: large;
}
input[type=text] {
  background-color: DarkSlateBlue;
  color: PapayaWhip;
  width: 8em;
}
input[type=text]:disabled {
  background-color: #382d7b;
}
input[type=button], input[type=submit] {
  background-color: Indigo;
  color: Moccasin;
}
#game {
  width: 2em;
  text-transform: uppercase;
}
.name {
  color: #b7abfe;
}
#spectators {
  color: SlateGray
}
.disconnected::after {
  content: " (d/c)"
}
.disconnected {
  color: Violet;
}
span.score {
  margin-left: 0.5em;
  border: solid darkgreen;
  font-weight: bold;
  padding: 0.2em;
  color: navy;
}
.current::after {
  content: "*"
}
.current {
  background-color: NavajoWhite;
  color: #004;
}
.current.disconnected {
  background-color: NavajoWhite;
  color: DarkViolet;
}
#games {
  list-style-type: none;
  display: flex;
  flex-direction: column-reverse;
}
#games[hidden] {
  display: none;
}
#games > li > ul {
  display: inline;
}
a:hover {
  cursor: pointer;
}
form.inline {
  display:inline;
}
ul.inline {
  list-style-type: none;
  padding: 0;
}
ul.inline > li {
  display: inline;
  padding-left: 1em;
}
#playArea[hidden] {
  display: none;
}
#board {
  display: grid;
  margin: auto;
  width: min-content;
  grid-template-columns: repeat(15, 1fr);
  border: solid;
}

#board div.tile {
  width: 3em;
  height: 3em;
  border: thin solid black;
}

#board div.tile.dl {
  background-color: lightblue;
}
#board div.tile.tl {
  background-color: darkblue;
}
#board div.tile.dw {
  background-color: pink;
}
#board div.tile.tw {
  background-color: red;
}
#rack {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 1em;
  column-gap: 1em;
}
#rack > li {
  width: 3em;
  height: 3em;
  line-height: 3em;
  border: solid;
  display: flex;
  justify-content: center;
}
#rack > li > span {
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  font-size: 2.8em;
}
