body {
  font-size: large;
}
input {
  font-size: large;
}
#log {
  height: 20vh;
  width: 80vw;
  resize: both;
  overflow-y: scroll;
  list-style-type: none;
  padding-left: 0;
}
#bluff, #start {
  margin-bottom: 1vh;
}
#players {
  margin-top: 2vh;
}
#settings {
  height: 20vh;
  width: 80vw;
  margin-top: 1vh;
}
#hand a, #say, #play {
  letter-spacing: 0.25em;
}
#hand a:hover {
  cursor: pointer;
}
#game, #say, #play {
  text-transform: uppercase;
}
