body {
  font-size: large;
  background-color: DarkSeaGreen;
  color: Indigo;
  margin-left: 2.5vw;
  width: 95vw;
}
input {
  font-size: large;
}
input[type=text] {
  background-color: Khaki;
  color: MidnightBlue;
}
input[type=text]:disabled {
  background-color: DarkKhaki;
}
input[type=button] {
  background-color: DarkOliveGreen;
  color: Lavender;
}
div.slider {
  display: flex;
  flex-direction: row;
  align-items: center;
}
#log {
  height: 20vh;
  resize: both;
  overflow-y: scroll;
  list-style-type: none;
  padding-left: 0;
  background-color: SeaGreen;
  color: Plum;
}
#bluff, #start {
  margin-bottom: 1vh;
}
#players {
  margin-top: 2vh;
}
#players ul {
  list-style-type: none;
  padding-left: 0;
}
#players .spectator {
  color: SlateGray;
}
#players span.disconnected {
  color: Thistle;
}
#players span.current {
  background-color: MediumSeaGreen;
}
#settings {
  height: 20vh;
  width: 80vw;
  margin-top: 1vh;
}
#pile {
  margin-top: 2vh;
}
#pile, #hand, #move {
  font-size: larger;
}
#hand a, #say, #play, .cards {
  letter-spacing: 0.25em;
}
#hand a:hover, #sayControl a:hover {
  cursor: pointer;
}
#game, #say, #play {
  text-transform: uppercase;
}
