@font-face {
  font-family: 'Digital-7 Mono';
  src: url('Digital-7-Mono.ttf') format('truetype');
}
body {
  font-family: sans-serif;
  font-size: large;
  background-color: MidnightBlue;
  color: Lavender;
  margin-left: 2vw;
  width: 96vw;
}
input {
  font-size: large;
}
input[type=text] {
  background-color: DarkGreen;
  color: PapayaWhip;
  width: 8em;
}
input[type=text]:disabled {
  background-color: #382d7b;
}
input[type=button], input[type=submit] {
  background-color: Indigo;
  color: Moccasin;
}
#game {
  width: 2em;
  text-transform: uppercase;
}
.name {
  color: #b7abfe;
}
#spectators {
  color: SlateGray
}
.disconnected {
  color: Violet;
}
#games {
  list-style-type: none;
}
#games > li > ul {
  display: inline;
}
a:hover {
  cursor: pointer;
}
form.inline {
  display:inline;
}
ul.inline {
  list-style-type: none;
  padding: 0;
}
ul.inline > li {
  display: inline;
  padding-left: 1em;
}
#playArea {
  margin: auto;
  width: 96vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
#playArea[hidden] {
  display: none;
}
#timeLimit {
  font-size: 36px;
  font-family: 'Digital-7 Mono', monospace;
  letter-spacing: 0.2ex;
  color: FireBrick;
  margin-bottom: 1ex;
}
#letterGrid {
  display: grid;
  font-size: 32px;
  grid-template-columns: repeat(4, 80px);
}
#letterGrid > div {
  height: 80px;
  line-height: 80px;
  text-align: center;
  text-transform: capitalize;
  border-style: dashed;
  border-color: white;
  border-width: 1px;
}
#letterGrid.obscured > div, #letterGrid.obscured > div::selection {
  color: rgba(255,255,255,0);
  text-shadow: 0 0 20px rgba(255,255,255,0.5);
}
#rotate[hidden] {
  display: none;
}
#rotate {
  margin: auto;
  width: 340px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: x-large;
}
#rotate a:hover {
  cursor: pointer;
}
#playForm {
  margin-top: 2em;
}
#playWord {
  text-transform: uppercase;
  font-size: larger;
  width: 240px;
}
#resultsArea {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  width: 100%;
  margin: auto;
}
#resultsArea[hidden] {
  display: none;
}
#resultsArea > div > ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  justify-content: space-around;
  align-items: center;
  padding: 0;
}
#resultsArea > div > ul.reversed {
  flex-direction: column-reverse;
}
#settingsHeading {
  width: 100%;
  text-align: center;
}
#settings {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 75%;
  margin: auto;
}
#settings[hidden] {
  display: none;
}
