@font-face {
  font-family: 'DejaVu Sans';
  src: url('DejaVuSans.ttf') format('truetype');
}
body {
  font-family: 'DejaVu Sans', sans-serif;
  font-size: large;
  background-color: #121;
  color: Lavender;
  margin-left: 2vw;
  width: 96vw;
}
input {
  font-size: large;
}
input[type=text] {
  background-color: DarkSlateBlue;
  color: PapayaWhip;
  width: 8em;
}
input[type=text]:disabled {
  background-color: #382d7b;
}
input[type=button], input[type=submit] {
  background-color: RoyalBlue;
  color: LightYellow;
}
#game {
  width: 2em;
  text-transform: uppercase;
}
#log {
  height: 13ex;
  resize: both;
  overflow-y: scroll;
  list-style-type: none;
  padding-left: 0;
  background-color: Black;
  color: White;
  border-style: solid;
  border-color: OldLace;
  margin: auto;
  margin-bottom: 1em;
}
#spectators {
  color: SlateGray
}
#games {
  list-style-type: none;
  display: flex;
  flex-direction: column-reverse;
}
#games[hidden] {
  display: none;
}
#games > li > ul {
  display: inline;
}
#games a:hover {
  cursor: pointer;
}
ul.inline {
  list-style-type: none;
  padding: 0;
}
ul.inline > li {
  display: inline;
  padding-left: 0.5em;
  padding-right: 0.5em;
}
.current {
  background-color: NavajoWhite;
  color: #004;
}
#players > li.current::after {
  content: ' (*)';
}
#players > li.winner::after {
  content: ' victorious!'
}
.disconnected {
  color: Pink;
}
#players > li.disconnected::after {
  content: ' (d/c)';
}
#players > li.current.disconnected::after {
  content: ' (d/c) (*)';
}
#players > li.winner.disconnected::after {
  content: ' (d/c) victorious!';
}
.current.disconnected {
  background-color: NavajoWhite;
  color: DarkRed;
}
#deck > div > span:last-child,
#board > div > div > span,
#opHand > span,
#myHand > span,
#holding > span {
  font-size: xx-large;
  padding: 0.2em;
  text-align: center;
}
#opHand, #myHand {
  display: flex;
}
#opHand {
  flex-direction: row-reverse;
}
#myHand {
  flex-direction: row;
}
#holding, #buffer {
  display: flex;
  font-size: xx-large;
  min-height: 1.4em;
  justify-content: center;
}
#deck > div > span:first-child {
  vertical-align: top;
  line-height: 2em;
}
#playArea {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#playArea[hidden] {
  display: none;
}
#deck {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-right: 2em;
}
#deck > div {
  padding-top: 0.2em;
  padding-bottom: 0.2em;
}
#playArea > div:last-child {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
#done[hidden] {
  display: none;
}
#done {
  width: min-content;
  margin-top: -2em;
  margin-bottom: 1em;
}
#board {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
#board > div {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
}
#board > div > div.left {
  justify-content: flex-end;
}
#board > div > div {
  display: flex;
  flex-direction: row;
}
.hearts {
  color: LightPink;
}
.diamonds {
  color: Moccasin;
}
.clubs {
  color: PaleGreen;
}
.spades {
  color: PowderBlue;
}
span.clickable:hover {
  cursor: pointer;
  background-color: LightGreen;
}
span.clickable.hearts:hover {
  color: #800;
}
span.clickable.diamonds:hover {
  color: #430;
}
span.clickable.clubs:hover {
  color: #050;
}
span.clickable.spades:hover {
  color: #005;
}
span.removed {
  color: SlateGray;
}
