body {
  font-family: sans-serif;
  font-size: large;
  background-color: #010;
  color: Lavender;
  margin-left: 2vw;
  width: 96vw;
}
input {
  font-size: large;
}
input[type=text] {
  background-color: DarkSlateBlue;
  color: PapayaWhip;
  width: 8em;
}
input[type=text]:disabled {
  background-color: #382d7b;
}
input[type=button] {
  background-color: Indigo;
  color: Moccasin;
}
#game {
  width: 2em;
  text-transform: uppercase;
}
.name {
  color: #b7abfe;
}
#spectators {
  color: SlateGray
}
.disconnected {
  color: Violet;
}
#games {
  list-style-type: none;
}
#games > li > ul {
  display: inline;
}
a:hover {
  cursor: pointer;
}
#wordLists > ul {
  list-style-type: none;
  padding: 0;
}
#wordLists > ul > li > ul {
  display: inline;
}
ul.inline {
  list-style-type: none;
  padding: 0;
}
ul.inline > li {
  display: inline;
  padding-left: 1em;
}
ul.reversed {
  display: flex;
  flex-direction: column-reverse;
}
.current {
  background-color: NavajoWhite;
  color: #004;
}
.current.disconnected {
  background-color: NavajoWhite;
  color: DarkViolet;
}
ul.team {
  list-style-type: none;
  padding: 0;
}
ul.team > li {
  padding: 0.5em;
}
ul.team > li > input[type=button] {
  margin-left: 0.75em;
}
#words {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  list-style-type: none;
  height: 30ex;
  width: 80%;
  padding: 0;
}
#words > li {
  text-transform: uppercase;
  font-weight: bold;
  padding: 1em;
}
#words > li > a {
  text-decoration: underline;
}
.guessed {
  text-decoration: line-through;
}
#setupArea {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
}
#setupArea[hidden] {
  display: none;
}
#setupArea > div {
  width: 25em;
  display: flex;
  flex-direction: column;
  align-items: center;
}
div.teamclues {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  width: 100%;
}
div.players, div.clues {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
div.clues[hidden] {
  display: none;
}
div.clues ul {
  width: 100%;
  list-style-type: none;
  padding: 0;
}
div.clues > ul > li {
  padding-bottom: 1em;
}
h2.winner::after {
  content: ': winners!';
}
h2 {
  margin-bottom: 0;
}
h2 + div {
  margin-bottom: 1em;
}
h3, h4 {
  padding: 0;
  margin: 0;
}
h4 {
  font-weight: normal;
  font-style: italic;
}
div.clues ul li ul {
  margin-left: 0.5em;
  list-style-type: none;
  padding: 0;
}
#playArea {
  margin: auto;
  width: 96vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
#playArea[hidden] {
  display: none;
}
label input[type=radio] + span::after {
  content: 'guess';
  cursor: pointer;
}
label input[type=radio]:checked + span::after {
  content: 'lead';
  cursor: default;
}
label input[type=radio]:disabled + span::after {
  cursor: default;
}
li label span {
  display: inline-block;
  text-align: right;
  font-size: smaller;
  width: 3em;
  padding-right: 0.5em;
}
label input[type=radio] {
  opacity: 0;
  width: 0;
  position: fixed;
}
.blue {
  color: #aaf;
}
.red {
  color: #faa;
}
.neutral {
  color: #aaa;
}
.assassin {
  color: #afa;
}
#settingsHeading {
  width: 100%;
  text-align: center;
}
#settings {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 75%;
  margin: auto;
}
#settings[hidden] {
  display: none;
}
input[type=number] {
  background-color: DarkSlateBlue;
  color: PapayaWhip;
  font-size: medium;
}
#assassins {
  width: 2em;
}
input.timelimit {
  width: 4em;
  font-size: medium;
}
span.clue {
  color: Moccasin;
  font-weight: bold;
}
#whoseTurn {
  text-transform: capitalize;
}
